ol {
    background-color: black;
    color: white;
}

.status {
    background-color: blue;
    color: red;
    height: 20px;
    width: 20px;
    font-size: large;
    font-weight: 700;
}

td {
    align-content: center;
    padding: 1em;
}

table{
    border:solid;
    align-content:center;
    border-radius: 1em;
    border-width: 0.3em;
    border-color:black;
    background-color:rgba(255, 217, 0, 0.397);

}

.footnote{
    color:rgba(0, 0, 0, 0.637);
    font-style:normal;
    font-size:xx-small;
    padding:1em;
}

.note1{
    color:chocolate;
    font-style:normal;
    font-size: small;
}

a:link {
    color: rgba(0, 128, 0, 0.801);
  }
  
  /* visited link */
  a:visited {
    color: rgba(0, 128, 0, 0.507);
  }
  
  /* mouse over link */
  a:hover {
    color: red;
  }
  
  /* selected link */
  a:active {
    color: yellow;
  }
  